@model SaberMais.Models.AlterarSenhaViewModel

@{
    ViewData["Title"] = "Alterar Senha";
}

<div class="text-center">
    <h1>Alterar Senha</h1>
</div>

<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="AlterarSenha">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="SenhaAtual" class="form-label"></label>
                <input asp-for="SenhaAtual" class="form-control" />
                <span asp-validation-for="SenhaAtual" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="NovaSenha" class="form-label"></label>
                <input asp-for="NovaSenha" class="form-control" />
                <span asp-validation-for="NovaSenha" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmarNovaSenha" class="form-label"></label>
                <input asp-for="ConfirmarNovaSenha" class="form-control" />
                <span asp-validation-for="ConfirmarNovaSenha" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <input type="submit" value="Salvar Nova Senha" class="btn btn-primary" />
                <a asp-controller="Usuarios" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>